@font-face {
    font-family: "Japanese 2020";
    src: url("../fonts/JAPANESE_2020.ttf") format("ttf");
}

body {
    background-color: #E8E8E8;
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
}


/* MAIN CONTAINER GRID */

#mainContainer {
    display: grid;
    grid-template-columns: 80px 245px 195px 290px 300px 290px 195px 245px 80px;
    grid-template-rows: 25px 60px 250px 70px 500px 50px;
}


/* REGLES DU JEU */

#rules {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #707070 1px solid;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}

#rulesText {
    color: #707070;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0%;
    padding: 0%;
}


/* MODAL */

.modalTitle {
    font-family: "Japanese 2020";
    color: #FB7923;
    font-size: 2em;
}

.btnModal {
    background-color: #285943;
    color: #ffffff;
}


/* TABLEAU */

#tableau {
    grid-row: 2/4;
    grid-column: 4 / 7;
    display: grid;
    grid-template-columns: 290px 300px 290px;
    grid-template-rows: 60px 250px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 20px 20px 40px #bebebe, -20px -20px 40px #ffffff;
}


/* PLAYER CTN */

#playerCtn {
    grid-row: 1/3;
    /* width: 290px; */
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

#playerTitle {
    margin-bottom: 10px;
    margin-top: 10px;
    color: #577399;
    font-weight: bold;
}

#mancheTitle {
    font-size: 1.5em;
    margin-bottom: 10px;
    margin-top: 20px;
    color: #FB7923;
}

#playerScore {
    width: 200px;
    height: 100px;
    color: #577399;
    font-size: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #707070;
    border-radius: 5px;
}

#mancheCtn {
    margin-top: 20px;
    display: grid;
    height: auto;
    width: auto;
    grid-template-columns: 40px 100px 100px 40px;
    grid-template-rows: 50px 20px;
    gap: 5px;
}

#playerCircleCtn {
    border: 1px solid #707070;
    grid-column: 2/3;
    grid-row: 1;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#iaCircleCtn {
    border: 1px solid #707070;
    grid-column: 3/4;
    grid-row: 1;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.widthBall {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 1px solid #707070;
}


/*GAME TITLE CTN */

#gameTitleCtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 2/3;
    grid-row: 1/3;
}

#gameTitle {
    margin: 10px 0%;
    font-family: "Japanese 2020";
    color: #FB7923;
    font-size: 3.5em;
    font-weight: bold;
}

#vs {
    font-size: 3em;
    font-weight: bold;
    color: #707070;
    margin-top: 20px;
    margin-bottom: 0%;
}

#partie {
    font-size: 1.5em;
    color: #FB7923;
}

#partieCtn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
}

#partieBloc {
    border: solid 1px #707070;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #707070;
    font-size: 2.5em;
}


/* IA SCORE CTN */

#iaCtn {
    grid-column: 3;
    grid-row: 1/3;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

#iaTitle {
    margin-bottom: 10px;
    margin-top: 10px;
    color: #C83E4D;
    font-weight: bold;
}

#iaScore {
    width: 200px;
    height: 96px;
    color: #C83E4D;
    font-size: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #707070;
    border-radius: 5px;
}

#percentTitle {
    font-size: 1.5em;
    margin-bottom: 10px;
    margin-top: 20px;
    color: #FB7923;
}

#percentCtn {
    margin-top: 20px;
    display: grid;
    height: auto;
    width: auto;
    grid-template-columns: 40px 100px 100px 40px;
    grid-template-rows: 50px 20px;
    gap: 5px;
}

#playerPercentCtn {
    border: 1px solid #707070;
    grid-column: 2/3;
    grid-row: 1;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #577399;
    font-size: 1.2em;
}

#iaPercentCtn {
    border: 1px solid #707070;
    grid-column: 3/4;
    grid-row: 1;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #C83E4D;
    font-size: 1.2em;
}


/* BOUTON REJOUER  */

#restart {
    grid-column: 8;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #707070 1px solid;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}

#restartText {
    color: #707070;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0%;
    padding: 0%;
}


/* ICONS JOUEURS CTN */

#playerIconCtn {
    grid-column: 2;
    grid-row: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.widthIcon {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fas {
    font-size: 3em;
    color: #FB7923;
    cursor: pointer;
}


/* TERRAIN */

#fieldGeneral {
    grid-column: 3/8;
    grid-row: 5;
    display: grid;
    grid-template-columns: 485px 300px 485px;
    grid-template-rows: 100px 300px 100px;
}

#playerFieldCtn {
    grid-column: 1;
    grid-row: 1/4;
    background-color: #285943;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#middleFieldCtn {
    grid-column: 2;
    grid-row: 1/4;
    background-color: #285943;
    display: flex;
    align-items: center;
    justify-content: center;
}

#elementsCtn {
    grid-column: 2/3;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#verticalLine {
    grid-column: 2/3;
    grid-row: 2/3;
    width: 5px;
    height: 500px;
    margin: 0 20px;
    z-index: 2;
    background-color: #FB7923;
}

#circleCenter {
    grid-column: 2/3;
    grid-row: 2/3;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    z-index: 3;
    border: 5px solid white;
}

#iaFieldCtn {
    grid-column: 3;
    grid-row: 1/4;
    background-color: #285943;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


/* ICONS IA CTN */

#iaIconCtn {
    grid-column: 8;
    grid-row: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}